<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appdatbanonline">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDatBanOnline">
        <activity
            android:name=".ui.chitietnhahang2"
            android:exported="false" />
        <activity
            android:name=".ui.datban1"
            android:exported="false" />
        <activity
            android:name=".ui.datban"
            android:exported="true" />
        <activity
            android:name=".ui.chitietnhahang"
            android:exported="false" />
        <activity
            android:name=".ui.ds_nhahang"
            android:exported="false" />
        <activity
            android:name=".ui.account"
            android:exported="false" />
        <activity
            android:name=".ui.yeuthich"
            android:exported="false" />
        <activity
            android:name=".ui.donhang"
            android:exported="false" />
        <activity
            android:name=".ui.dangky"
            android:exported="false" />
        <activity
            android:name=".ui.dangnhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
    </application>

</manifest>